@font-face {
  font-family: Consolas;
  src: url(../assets/font/CONSOLA.TTF);
  font-family: JetBrains;
  src: url(../assets/font/JetBrains.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Consolas;
}

.wrapper {
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: orange;
}

/*! header */
.header {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: rgba(31, 48, 104, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.2);
  transition: height 1s;
}

.header_scrolled {
  height: 2rem;
  background-color: rgba(31, 48, 104, 1);
}

.header_title {
  font-size: 0.8rem;
  color: whitesmoke;
  font-family: JetBrains;
}

/*!  main */
.main {
  margin-top: 4rem;
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main_link {
  color: orange;
  font-weight: 900;
  font-family: JetBrains;
}

.section {
  border: 1px solid rgb(31, 48, 104);
  box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  padding: 1rem;
}

.section_title {
  font-family: JetBrains;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.section_list {
  list-style-position: inside;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.section_attention,
.section_signIn,
.section_about {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section_attention__text,
.section_signIn__text {
  font-size: 0.8rem;
}

.section_attention__button,
.section_about__button,
.section_signIn__button {
  text-decoration: none;
  color: orange;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  border: 1px solid orange;
  text-align: center;
  cursor: pointer;
}

.section_signIn__button {
  background-color: orange;
  color: white;
}

.section_attention__button:hover,
.section_about__button:hover {
  background-color: orange;
  color: white;
  transition: 0.5s;
}

.buttonNoAccess,
.buttonRequestAccess,
.buttonAccessGranted {
  display: block;
  margin: 20px auto;
  padding: 1rem 5rem;
  border-radius: 5px;
  background-color: rgb(31, 48, 104);
  color: white;
  font-size: 20px;
  border: none;
}

.buttonRequestAccess {
  cursor: pointer;
  background-color: #61491a;
}

.buttonAccessGranted {
  background-color: #0f3a3a;
}
